/* common: border, blind, font  */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.background_border {
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
}

.bold {
  font-weight: bold;
}

.strong {
  font-weight: 700;
}
